.about {
  width: 100%;
  height: 30rem;
  background-color: rgb(0, 0, 0, 0.5);
}

.about.container {
  width: 80%;
  display: block;
  margin: 0px auto;
  padding: 50px 0px;
}

.container .title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.container .title h1 {
  font-size: 35px;
  color: rgb(255, 255, 255);
}

.content1 {
  display: flex;
  margin-top: 50px;
  border-radius: 8px;
  margin: 0 10% 0 10%;
  width: auto;
  height: 18rem;
  margin-top: 30px;
}

.content1 .article h3 {
  margin-left: 10px;
  float: left;
  width: 80%;
  margin-left: 20px;
  color: aliceblue;
  margin-top: 5%;
  letter-spacing: normal;
}

:root {
  --background: #005;
  --primary: #88d5bf;
  --secondary: #5d6bf8;
  --third: #e27fcb;
}

.myimg {
  background: url("https://avatars.githubusercontent.com/u/89340506?s=400&u=38520312ab0fd0c85b29720c80ce6f8671d55657&v=4"); /* Specify the URL of your background myimg */
  background-size: cover; /* Adjust the background size as needed */
  background-position: center; /* Adjust the background position as needed */
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  /* background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%); */
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 250px;
  /* margin-left: -20%; */
  transition: all 1s ease-in-out;
  width: 250px;
  border: 2px lightgray solid;
  z-index: 5;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

@media screen and (max-width: 1425px) {
  .about {
    height: 60rem;
  }
  .content1 {
    flex-direction: column;
  }
  .content1 .article h3 {
    float: left;
    width: 95%;
    color: aliceblue;
    margin-top: 5%;
    margin-left: 2%;
    letter-spacing: normal;
  }
  .image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }

  .myimg {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 913px) {
  .about {
    height: 60rem;
  }
  .content1 {
    margin-top: 50px;
    margin-left: 13%;
    margin-right: 13%;

    width: auto;
    height: 45rem;
  }
  .content1 .article h3 {
    float: left;
    width: 95%;
    color: aliceblue;
    margin-top: 5%;
    margin-left: 2%;
    letter-spacing: normal;
  }
  .image {
    margin-right: 320px;
  }

  .myimg {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .content1 {
    margin-top: 50px;
    margin-left: 13%;
    margin-right: 13%;

    width: auto;
    height: 42rem;
  }
  .image {
    margin-right: 300px;
  }

  .myimg {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 652px) {
  .content1 {
    margin-top: 50px;
    margin-left: 13%;
    margin-right: 13%;

    width: auto;
    height: 38rem;
  }
  .image {
    margin-right: 240px;
  }

  .myimg {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 463px) {
  .content1 {
    margin-top: 50px;
    margin-left: 13%;
    margin-right: 13%;

    width: auto;
    height: 45rem;
  }
  .content1 .article h3 {
    letter-spacing: normal;
  }
  .image {
    margin-right: 210px;
  }

  .myimg {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 427px) {
  .content1 {
    margin-top: 50px;
    margin-left: 13%;
    margin-right: 13%;

    width: auto;
    height: 45rem;
  }

  .image {
    margin-right: 200px;
  }

  .myimg {
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 376px) {
  .content1 {
    margin-top: 50px;
    margin-left: 13%;
    margin-right: 13%;
    width: auto;
    height: 48rem;
  }
  .content1 .article h3 {
    letter-spacing: none;
  }
  .image {
    margin-right: 165px;
  }

  .myimg {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 375px) {
  .content1 {
    margin-top: 50px;
    margin-left: 13%;
    margin-right: 13%;
    width: auto;
    height: 48rem;
  }
  .content1 .article h3 {
    letter-spacing: normal;
  }
  .image {
    margin-right: 135px;
  }

  .myimg {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 375px) {
  .about {
    height: 65rem;
  }
  .content1 {
    margin-top: 50px;
    margin-left: 13%;
    margin-right: 13%;
    width: auto;
    height: 52rem;
  }
  .content1 .article h3 {
    letter-spacing: normal;
  }
  .image {
    margin-right: 135px;
  }

  .myimg {
    width: 150px;
    height: 150px;
  }
}
