.con {
  height: auto;
  background-color: rgb(0, 0, 0);
}

.titles {
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.para {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container22 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.container22.animate {
  transform: translateX(-100%);
}
.img {
  height: 250px;
  width: 400px;
  background-size: cover; /* Ensures the image covers the container */
  background-repeat: no-repeat; /* Prevents image repetition */
  background-position: center;
  border-radius: 25px;
  border: 0px solid #fff;
  margin: 20px;
  margin-bottom: 60px;
  position: relative;
}

.button1 {
  padding: 9px 14px;
  font-size: 1rem;
  border: 1px solid #fff;
  text-transform: uppercase;
  background: white;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.button1:hover {
  background: rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
  transition: 0.3s;
}
.button {
  margin-top: 20px;
  padding: 9px 14px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}
.button:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: 0.3s;
}
.span {
  color: white;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}

.overlay {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: rgb(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  bottom: 0;
  height: 100%;
  transition: 0.5s ease;
}
.overlay:hover {
  background-color: rgb(0, 0, 0, 0.6);
  height: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.pagination button {
  background-color: white;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button.active {
  background-color: black;
  color: white;
  transform: translateY(2px);
  font-weight: bold;
}




.text-center {
  text-align: center;
}

.color-white {
  color: #3c3b3b;
}

.box-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 35px 15px;
  width: 100%;
  
}

@media screen and (min-width:1380px) {
  .box-container {
    flex-direction: row
  }
}

.box-item {
  position: relative;
  -webkit-backface-visibility: hidden;
  width: 400px;
  
  margin-bottom: 35px;
 
}

.flip-box {
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-perspective: 1000px;

}

.flip-box-front,
.flip-box-back {
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  background-color: #000000;

  min-height: 250px;
  -ms-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  -webkit-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-front {
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-back {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box .inner {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 60px;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
  transform: translateY(-50%) translateZ(60px) scale(.94);
  -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
  -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
  top: 50%;
}

.flip-box-header {
  font-size: 20px;
}

.flip-box p {
  font-size: 20px;
  line-height: 1.5em;
}

.flip-box-img {
  margin-top: 25px;
  /* color: #000000; */
}

.flip-box-button {
  background-color: transparent;
  border: 2px solid #ff0000;
  border-radius: 10px;
  color: #ffffff;
  margin-left: 5px;
   background-color: #b40000;
  opacity: 50%;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  width: 100px;
  margin-top: 25px;
  padding: 10px 10px;
  text-transform: uppercase;
}

.flip-box-button2 {
  background-color: transparent;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  color: #ffffff;
  margin-left: 5px;
  background-color: #000000;
  opacity: 50%;
  width: 100px;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  margin-top: 25px;
  padding: 10px 10px;
  text-transform: uppercase;
}